<% layout("/layouts/boilerplate.ejs") %>

<h1 class="col-6 offset-3">Forgot Password</h1>
<div class="row col-6 offset-3">
    <form action="/forgotPassword" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter your email" 
                required>
        </div>
        <button type="submit" class="btn btn-success add-btn">Send Reset Link</button>
    </form>
</div>
